.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #525252;
  font-size: x-small;
}

.icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    fill: #525252;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo h1{
    cursor: pointer;
}

.logo h1 span{
    font-weight: 400;
}

.navPage{
    display: flex;
    align-items: center;
    position: relative;
}

.navPage h2{
    cursor: pointer;
    margin: 0 1.5rem;
    font-weight: 500;
    transition: 200ms;
}

.navPage .active{
    /* background-color: #525252; */
    color: white;
    /* width: 6rem; */
    text-align: center;
    align-content: center;
    /* border-radius: 0.5rem; */
}

.user svg{
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 1rem;
    fill: #525252;
}
.user{
    display: flex;
    margin-right: 1.5rem;
}

.indicator{
    transition: 200ms;
    position: absolute;
    width: 6rem;
    height: 1.4rem;
    background-color: #525252;
    z-index: -1;
    border-radius: 0.5rem;
    left: 0;
}

@media (max-width: 650px) {
   .logo{
    display:none ;
   } 
   .user svg:first-child{
    display: none;
   } 
   .navbar li:nth-child(3){
    position: absolute;
    right: 0;
   }
   .navbar{
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
   }
}